* {
  margin: 0;
  padding: 0;
  color: Black;
  font-style: normal;
  text-decoration: none;
}

header {
  background-color: #414141;
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 24;
  margin: auto auto;
  color: white;
}

footer {
  background-color: #414141;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

footer nav {
  margin: auto auto;
}

footer nav a {
  margin: 10px;
  color: white;
}