.cadastro-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

.campo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
}

.valor input {
    width: 50px;
}

.descricao textarea {
    height: 40px;
    resize: none;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgb(163, 163, 163);
}

input[type=submit] {
    padding: 5px 10px;
    background-color: rgb(69, 255, 69);
    border: none;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
