.cadastro-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 300px;
    overflow-x: auto;
    margin: 0 auto;
    padding: 90px;
    background-color: rgba(247, 246, 245, 0.623);
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    font-size: 17px;
    margin-top:30px;
}


.campo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e4e0e0; /* Adicione a borda aqui */
    padding: 10px; /* Adicione algum espaço dentro do container */
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 15px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
}

.valor input {
    width: 50px;
}

.descricao textarea {
    height: 40px;
    resize: none;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgb(163, 163, 163);
}

input[type=submit] {
    padding: 5px 10px;
    background-color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
    transform: translate(70%,50%);
    font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
.campobotao{

}