.carrinho-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 500px;
    overflow-x: auto;
    margin: 0 auto;
    padding: 90px;
    background-color: rgba(65, 41, 13, 0.65);
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
}

.produto-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    border: 6px solid #fafafa; 
    padding: 10px; 
    background-color: white;
    border-radius: 20px;
}


.produto-info {
    top: 10px;
    display: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(5, 5, 5);
}

.imagem-produto {
    max-width: 200px;
}

.imagem-produto img {
    height: 100px;
}

.lixeira {
    cursor: pointer;
}
.botao-lixeira{
    background-color: #FF0000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.valor-total {
    /* Estilos específicos para o Valor Total */
    font-size: 20px;
    margin-top: 10px; /* Espaço acima do Valor Total */
    color: white    ;
}

.quantidade {
    /* Estilos específicos para o Valor Total */
    font-size: 20px;
    margin-top: 10px; /* Espaço acima do Valor Total */
    color: white;
}
.botao {
    background-color: #FF0000;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    transform: translate(30%,10%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

