.carrinho-container {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.produto-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    border: 1px solid #0c0b0b; 
    padding: 10px; 
}


.produto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.imagem-produto {
    max-width: 200px;
}

.imagem-produto img {
    height: 100px;
}

.lixeira {
    cursor: pointer;
}

.valor-total {
    /* Estilos específicos para o Valor Total */
    font-size: 20px;
    margin-top: 20px; /* Espaço acima do Valor Total */
}

.quantidade {
    /* Estilos específicos para o Valor Total */
    font-size: 20px;
    margin-top: 10px; /* Espaço acima do Valor Total */
}