.container-exclusao {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 410px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
}

.produto-exclusao {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.botao-excluir {
    width: 50%;
    background-color: rgb(255, 84, 84);
    border: 1px solid rgba(139, 0, 0, 0.295);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}