.produtos-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    padding: 10px;
}

.produto {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border: 1px solid #0c0b0b;
    padding: 10px;
}

.imagem-produto {
    max-width: 200px;
}

.imagem-produto img {
    height: 100px;
}

.pop-pup-pizza-container {
    display: block;
    width: 100%;
    position: absolute;
    margin-top: 100px;
    z-index: 2;
    transition: visibility 1s;
}

.pop-up-pizza {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pop-up-campos {
    background-color: white;
    width: 400px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.438);
    border-radius: 8px;
}

.pop-up-campos * {
    margin: 10px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.blur {
    filter: unset;
    transition: filter 0.2s;
    transition-timing-function: linear;
}