.retangulo {
  width: 400px;
  height: 300px;
  background-color: #c98888;
  border-radius: 20px;
  color: #2e3b27;
  text-align: center;
  padding: 20px; /* Adicione espaço interno para separar o conteúdo das bordas */
  margin: 0 auto;
  
}

.item {
  margin-bottom: 10px; /* Adicione espaço entre os itens */
}

/* Aumente o tamanho da fonte para tornar o texto mais legível */
.retangulo h2 {
  font-size: 24px;
}

/* Estilize a lista de pizzas */
.retangulo ul {
  list-style: none;
  padding: 0;
}

/* Estilize os itens da lista */
.retangulo li {
  margin: 5px 0; /* Adicione espaço entre os itens da lista */
  font-size: 16px;
}

/* Adicione estilo para o rótulo */
.retangulo label {
  font-weight: bold;
}
